apiVersion: apps/v1
kind: Deployment
metadata:
  name: basic-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: basic-operator
  template:
    metadata:
      labels:
        name: basic-operator
    spec:
      serviceAccountName: basic-operator
      containers:
        - name: basic-operator
          image: csharp-basic-operator
          imagePullPolicy: Never